<div class="grid">
  <div class="col-1-3">
    <div class="image"><img src="{{imgUrl}}" class="thumb" /></div>
  </div>

  <div class="col-1-3">
    <div id="song-info">
      <span id="song-title"></span>
      <p class="meta-data"><span id="song-stock">Stock: {{item.stock}}</span>| Format: {{item.type}}</p>
      <hr />
      <p class="price">Price: <span id="song-price">${{item.price}}</p></span>
      <p class="artist" ng-click="search(artist.name)">{{artist.name}}</p>
      <p class="company" ng-click="search(item.company)">{{item.company}} - {{item.year.substring(0,4)}}</p>
      Quantity: <input type="text" size=5 ng-model="quantity" name="quantity" value=1 ng-change="validate()"/>
      <br/>
      <br/>
      Total: ${{ calcPrice(quantity, item.price) }}
      <br/>
      <button id="buy-song" class="btn btn-3 btn-3b" ng-click="addSongToCart()" style="float:right;">Add to Cart</button>
    </div>
  </div>

  <div class="col-1-3">
   <h2>Track List:</h2>
   <div id="item-songs">
      <ul class="song-song-list" >
        <li ng-repeat="songs in songs" >{{$index + 1}}. {{songs.title}}</li>
      </ul>
    </div>

  </div>


  <!--
  <div class="image"><img src="{{song.thumbUrl}}" class="thumb" /></div>
  </div>
  <div id="col2">
    <span id="song-title">{{song.title}}</span>
    <p class="meta-data"><span id="song-stock">Stock: {{song.stock}}</span>| Format: {{song.type}}</p>
    <hr />
    <p class="price">Price: <span id="song-price">${{song.price}}</p></span>
    <p class="artist" ng-click="search(song.artist)">{{song.artist}}</p>
    <p class="album" ng-click="search(song.album)">{{song.album}}</p>
    <input type="text" ng-model="quantity" name="quantity"/>
    ${{ calcPrice(quantity, song.price) }}
    <button id="buy-song" ng-click="addSongToCart()">Add to Cart</button>
  </div>
  <div class="clear"></div>
  -->
</div>
