<div id="checkout-view">
  <div class='grid'>
    <div class="col-2-3">
      <div id="checkout-main">
        <div id="checkout-main-list">
        <h2>Checkout</h2>
          <ul>
            <li id="checkout-song-list" ng-repeat="itemOrder in itemOrders">
              UPC: {{item.upc}} <br />
              Title: {{item.title}} - {{item.price}}
              Quantity: <input type="text" name="quantity" value="item.quantity"/>
            </li>
          </ul>
        </div>
        <div id="checkout-main-total">
          Total Price: ${{total-price}}
        </div>
      </div>
    </div>

    <div class="col-1-3">
      <div id="checkout-side">
        <div id="checkout-side-form">
          <form action="" method="POST">
            <fieldset>
              <legend>User Information</legend>
              User ID: 
              <br/>
              <input type="text" name="userid"/>
              <br/>
              Password: 
              <br/>
              <input type="password" name="password"/>
            </fieldset>
            <fieldset>
              <legend>Credit Card Information</legend>
              Number: 
              <br/>
              <input type="text" name="ccn"/>
              <br/>
              Expires:
              <br/>
              <input type="text" name="expires" size="5"/>
            </fieldset>
          </form>
        </div>

        <div id="checkout-side-purchase">
          <input type="submit" value="Purchase" name="submit" style="float:right;">
        </div>
      </div>
    </div>
  </div>
</div>
