<div id="checkout-view">
  <div class='grid'>
    <div class="col-2-3">
      <div id="checkout-main">
        <div id="checkout-main-list">
        <div style="text-align:center;"><h2>Shopping Cart</h2></div>
          <ul>
            <li id="checkout-song-list" ng-repeat="itemOrder in selectedItems">
              <!--<span><img class="thumb" src="{{getImgUrl(itemOrder.item.upc)}}"></img></span>
              <span>-->
              UPC: {{itemOrder.item.upc}} <br />
              Title: {{itemOrder.item.title}} - {{itemOrder.item.category}}
              <span style="float:right;">Quantity: <input size="3" type="text" name="{{itemOrder.item.upc}}" value="{{itemOrder.quantity}}" class="checkout-items"/></input>
								<button ng-click="update()">Update</button>	
							</span>
            </li>
          </ul>
        </div>
        <div id="checkout-main-total">
          <span style="float:left;">Expected Delivery Date: {{expected_date}}</span><span style="float:right;">Total Price: $<span id="total-price"></span></span>
        </div>
      </div>
    </div>

    <div class="col-1-3">
      <div id="checkout-side">
        <div id="checkout-side-form">
          <form action="" method="POST">
            <fieldset>
              <legend>User Information</legend>
              User ID: 
              <br/>
              <input type="text" name="userid" ng-model="userid"/>
              <br/>
              Password: 
              <br/>
              <input type="password" name="password" ng-model="pwd"/>
            </fieldset>
            <fieldset>
              <legend>Credit Card Information</legend>
              Number: 
              <br/>
              <input type="text" name="ccn" ng-model="ccn" size="16" maxlength="16"/>
              <br/>
              Expires:
              <br/>
              <input type="date" name="expires" ng-model="expires"/>
            </fieldset>
          </form>
        </div>

        <div id="checkout-side-purchase">
          <span ng-click="purchase()"><button style="float:right;" id="purchase-button" class="btn btn-3 btn-3b icon-truck">Purchase</button></span>
        </div>

      </div>
    </div>
  </div>
</div>
