<div id="view_clerk">
  <div id="col1">
    
    <form action="" method="POST">
      <fieldset>
        <legend>Purchase</legend>
          <p><input type="checkbox" ng-change="toggleCredit()" ng-model="creditCheckBox"/></p>
          <p>Credit Card Number: <input type="text" name="email" ng-disabled="credit" /></p>
          <p>Price: $<input type="text" name="price" /></p>
          <p><input type="submit" name="submit" value="Purchase" /></p>
          
      </fieldset>
    </form>
  </div>
  <div id="col2">
    haha
  </div>
  <div class="clear"></div>
</div>
