<div id="song_page">
  <div id="col1">
  
  <div class="image"><img src="{{song.thumbUrl}}" class="thumb" /></div>
  </div>
  <div id="col2">
    <span id="song-title">{{song.title}}</span>
    <p class="meta-data"> Stock: {{song.stock}}| Format: {{song.type}}</p>
    <hr />
    <p class="price">Price: <span id="song-price">${{song.price}}</p></span>
    <p class="artist" ng-click="search(song.artist)">{{song.artist}}</p>
    <p class="album" ng-click="search(song.album)">{{song.album}}</p>
    <input type="text" ng-model="quantity" name="quantity"/>
    ${{ calcPrice(quantity, song.price) }}
    <button id="buy-song" ng-click="addSongToCart()">Add to Cart</button>
  </div>
  <div class="clear"></div>
</div>
