<div id="view_clerk">
  <div id="col1">
    
    <form action="" method="POST">
      <fieldset>
        <legend>Purchase</legend>
          <input type="checkbox" ng-change="toggleCredit()" ng-model="creditCheckBox"/>
          <br>
          Credit Card Number: <input type="text" name="ccn" ng-disabled="credit" />
          <br>
          Price: $<input type="text" name="price" />
          <br>
          <input type="submit" name="submit" value="Purchase" />
          
      </fieldset>
    </form>
  </div>
  <div id="col2">
    <form action="" method="POST">
      <fieldset>
        <legend>Return</legend>
          Customer ID: <input type="text" name="" ng-disabled="credit" />
          <p> <input type="text" name="" ng-disabled="credit" /></p>
          <p>Price: $<input type="text" name="price" /></p>
          <p><input type="submit" name="submit" value="Purchase" /></p>
      </fieldset>
    </form>
  </div>
  <div class="clear"></div>
</div>
