body {
  font: 1em Arial, sans-serif;
}

h1, ul {
  margin:0px;
  padding:0px;
  list-style:none;
}

img {
  margin:0px;
  padding:0px;
}
.clear{
  clear:both;
}
#header {
  margin-bottom:10px;
}

#menu ul {
  list-style:none;
  height:30px;
  border-bottom:1px solid #000;
}

#menu ul li{
  float: left;
}

#menu ul li a{
  color:#000;
  text-decoration:none;
  display:block;
  padding:0 20px;
  line-height: 30px;
}
#menu ul li a:hover{
  background:#000;
  color:#fff;
}


#wrap {
  width:940px;
  padding:10px;
  margin:0 auto;
}

.center {
  display:table;
  margin: 0 auto;
}

#search-bar{
  margin:5px 0;
  outline-width:0px;
  border: 3px solid #ccc;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  -moz-box-shadow:1px 1px 1px #666;
  -webkit-box-shadow:1px 1px 1px #666;
  box-shadow:1px 1px 1px #666;
  background:#cccccc;
  width:500px;
  height: 50px;
  font-size: 25px;
  padding-right:10px;
  padding-left:20px;
}

#footer {
  padding-top:10px;
}
.thumb {
  padding:0px;
  margin:0px;
  width:100px;
  height:100px;
}
#col1 {
  float:left;
  width:460px;
}
#col2{
  float:right;
  width:460px;
}
#content {
  background:#606060;
  padding:10px;
  margin:0px;

}
.image {
  line-height:0px;
}

li#song {
  line-height:2em; 
}
