body {
  font: 1em Arial;
}

a {
  text-decoration:none;
}

h1, ul {
  margin:0px;
  padding:0px;
  list-style:none;
}

img {
  margin:0px;
  padding:0px;
}

.clear{
  clear:both;
}
#song-list-meta {
  
}
#header {
  margin-bottom:10px;
}

#menu ul {
  padding-left:10px;
  list-style:none;
  height:30px;
}

#menu ul li{
  float: left;
}

#menu ul li a{
  color:#000;
  text-decoration:none;
  display:block;
  padding:0 20px;
  line-height: 30px;
}

#menu ul li a:hover{
  background:#000;
  color:#fff;
}

.menu-button {
  float:right;
}

#wrap {
  width:940px;
  padding:10px;
  margin:0 auto;
}

.center {
  display:table;
  margin: 0 auto;
}

#search-bar{
  margin:5px 0;
  outline-width:0px;
  border: 3px solid #ccc;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  -moz-box-shadow:1px 1px 1px #666;
  -webkit-box-shadow:1px 1px 1px #666;
  box-shadow:1px 1px 1px #666;
  background:#cccccc;
  width:500px;
  height: 50px;
  font-size: 25px;
  padding-right:10px;
  padding-left:20px;
}

#footer {
  padding:10px;
}
.thumb {
  padding:0px;
  margin:0px;
  width:100px;
  height:100px;
}
#col1 {
  float:left;
}
#col2{
  float:right;
  width:785px;
}
#content {
  border-radius:10px;
  border:1px solid #000;
  padding:10px;

}
.image {
  line-height:0px;
}
.song-list{
  text-align:center;
}
.song-list ul{
  margin:10px;
  padding:0px;
  display:inline-block;
}

li#song {
  padding:20px;
  line-height:2em; 
  -webkit-transition:1s;
  -moz-transition:1s;
  -o-transition:1s;
  -ms-transition:1s;
  transition:1s;

}
li#song:hover{

  background-color:red;
}

#admin-page{
}

#col1-admin{
  float:left;
  width:130;
  padding:20px;
  border-right:1px solid #000;
  min-height:200px;
}
#col2-admin {
  float:left;
  width:790;
  padding:20px;
  height:100%;
}
#song-price {
  color:blue;
}
#song-title {

}
#buy-song {
  font:15px;
  padding:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  border-radius:5px;
}

#buy-song:hover{
  background-color:rgba(255,204,0,0.8);
}
#admin-side li {
  line-height:30px;
}
#song-list-meta {
  font-size:15px;
}
