<div id="manager-page">
  <div class="grid">
    <div class="row">
      <button class="btn btn-3 btn-3e icon-arrow-right manager-buttons" ng-click="addItem()">Add Items</button>
    </div>
    <div class="row">
      <button class="btn btn-3 btn-3e icon-arrow-right manager-buttons" ng-click="processDelivery()">Process Delivery</button>
    </div>
    <div class="row">
      <button class="btn btn-3 btn-3e icon-arrow-right manager-buttons" ng-click="salesReport()">Daily Sales Report</button>
    </div>
    <div class="row">
      <button class="btn btn-3 btn-3e icon-arrow-right manager-buttons" ng-click="topItems()">Top Selling Items</button>
    </div>
  </div>
</div>
