<div id="manager-top-selling">
  <div class="grid">
	<div class="col-2-3">
	    <div>
            <fieldset>
              <legend>Top Selling Items</legend>
              <!--UPC: <span id="manager-top-selling">{{selecte.upc}}</span>-->
				{{ message }}<br>
				<table border=1 width=auto>
					<thead ng-hide="data.length==0">
						<th>upc</th>
						<th>title</th>
						<th>company</th>
						<th>stock</th>
						<th>units</th>
					</thead>
					<tr ng-repeat="item in data">
						<td> {{ item.upc }} </td>
						<td width =auto> {{ item.title }} </td>
						<td> {{ item.company }} </td>
						<td> {{ item.stock }} </td>
						<td> {{ item.units }} </td>
					</tr>
				</table>
            </fieldset>
        </div>
	</div>

    <div class="col-1-3">
        <div id="manager-top-selling-form">
            <fieldset>
                    <br>Enter Date:</br>
                    <input name="date" type="date">
                    
                    <br>Top number of items:</br>
                    <input name="n" type="text">
					<button ng-click="getTopItems()"> submit </button>
            </fieldset>
		</div>
	</div>

  </div>
</div>
