<div id="manager-sales-report">
  <div class="grid">
    <div class="col-2-1">
      <div id="manager-sales-report-view">
        Sales Report
      </div>
    </div>
    <div class="col-1-3">
        <div id="manager-sales-report-form">
            <fieldset>
                    <br>Enter Date:</br>
                    <input name="date" type="text">
                    <input id="sales_report" type="button" value="Submit"/>
            </fieldset>
            <fieldset>
              <legend>Report</legend>
              Items Sold: <span id="manager-sales-table">{{title}}</span>
                <div>
                    I have {{friends.length}} friends. They are:
                    <ul>
                        <li ng-repeat="friend in friends">
                            [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
                        </li>
                    </ul>
                </div>
             </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

